{% load static %}

<!doctype html>
<html>
<head>
  <meta charset="utf-8">
  <meta http-equiv="x-ua-compatible" content="ie=edge">
  <title>Демо Геотрон</title>
  <meta name="description" content="">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

  <link rel="shortcut icon" type="image/png" href="{% static 'img/favicon.png' %}"/>
  <link rel="stylesheet" href="{% static 'styles/bootstrap.min.css' %}"/>
  <link rel="stylesheet" href="{% static 'styles/index.css' %}"/>
</head>
<body>

<!-- Yandex.Metrika counter - Яндекс Метрика НЦ ОМЗ
    <script type="text/javascript" >
       (function(m,e,t,r,i,k,a){m[i]=m[i]||function(){(m[i].a=m[i].a||[]).push(arguments)};
       m[i].l=1*new Date();k=e.createElement(t),a=e.getElementsByTagName(t)[0],k.async=1,k.src=r,a.parentNode.insertBefore(k,a)})
       (window, document, "script", "https://mc.yandex.ru/metrika/tag.js", "ym");

       ym(55780723, "init", {
           clickmap:true,
           trackLinks:true,
           accurateTrackBounce:true,
           webvisor:true
       });
    </script>
    <noscript><div><img src="https://mc.yandex.ru/watch/55780723" style="position:absolute; left:-9999px;" alt="" /></div></noscript>
-->
    
<!-- Yandex.Metrika counter - Яндекс Метрика ЦОД РКС
    <script type="text/javascript" >
       (function(m,e,t,r,i,k,a){m[i]=m[i]||function(){(m[i].a=m[i].a||[]).push(arguments)};
       var z = null;m[i].l=1*new Date();
       for (var j = 0; j < document.scripts.length; j++) {if (document.scripts[j].src === r) { return; }}
       k=e.createElement(t),a=e.getElementsByTagName(t)[0],k.async=1,k.src=r,a.parentNode.insertBefore(k,a)})
       (window, document, "script", "https://mc.yandex.ru/metrika/tag.js", "ym");

       ym(90263645, "init", {
           clickmap:true,
           trackLinks:true,
           accurateTrackBounce:true
       });
    </script>
    <noscript><div><img src="https://mc.yandex.ru/watch/90263645" style="position:absolute; left:-9999px;" alt="" /></div></noscript>
-->

    {% block csrf %}
        <script type="text/javascript">window.CSRF = '{{ csrf_token }}';</script>
    {% endblock %}

    {% block body %}
    {% endblock %}

    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" ></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.3/umd/popper.min.js" ></script>
    <script src="{% static 'js/bootstrap.min.js' %}" ></script>
    <script src="{% static 'js/index.js' %}" ></script>
</body>
</html>
